<sv-sidebar id="side-menu" title-long="'Secure Data Manager'" title-short="'SDM'"></sv-sidebar>

<main class="sv-main" ng-cloak>

	<ov-toolbar class="sv-toolbar">

		<div ng-if="!isAdminBoardActivated() && (isSetupMode() || isTallyMode())">
			<md-button class="md-raised md-secondary"
					   id="activate"
					   ng-click="activateAdminBoard()"
					   title="{{'Activate administration board' | translate}}">
				<md-icon alt="{{'Activate' | translate}}" md-svg-src="assets/icons/ic_admin_board.svg"></md-icon>
				<span class="hide-xs" translate>Activate administration board</span>
			</md-button>
		</div>

		<div ng-if="isAdminBoardActivated() && (isSetupMode() || isTallyMode())">
			<md-button class="md-raised md-secondary"
					   id="deactivate"
					   ng-click="deactivateAdminBoard()"
					   title="{{'Deactivate Admin Board' | translate}}">
				<md-icon alt="{{'Deactivate' | translate}}" md-svg-src="assets/icons/ic_no_admin_board.svg"></md-icon>
				<span class="hide-xs" translate>Deactivate Admin Board</span>
			</md-button>
		</div>

	</ov-toolbar>

	<div class="sv-content">

		<div class="sv-content-view" ng-cloak ng-if="state == 'ballots'" ui-view="ballots"></div>
		<div class="sv-content-view" ng-cloak ng-if="state == 'voting-cards'" ui-view="voting-cards"></div>
		<div class="sv-content-view" ng-cloak ng-if="state == 'electoral-board-list'" ui-view="electoral-board-list"></div>
		<div class="sv-content-view" ng-cloak ng-if="state == 'ballot-boxes'" ui-view="ballot-boxes"></div>

	</div>

</main>
