// alert
// ----------------------------------------

@use 'variables';

.alert {
  display: inline-block;
  margin-bottom: variables.$layout-gutter-width;
  padding: (variables.$layout-gutter-width * .5) variables.$layout-gutter-width;
  border-radius: 3px;

  &.alert-error {
    background-color: variables.$alert-error-bg;
    color: variables.$alert-error-text;

    md-icon {
      color: variables.$alert-error-text;
    }
  }

  &.alert-success {
    background-color: variables.$alert-success-bg;
    color: variables.$alert-success-text;

    md-icon {
      color: variables.$alert-success-text;
    }
  }
}
