// buttons
// ----------------------------------------

@use 'variables';

.md-button {
  padding: 0 1em;

  &:not([disabled]) {
    &.md-focused {
      background-color: variables.$button-focused-bg;
    }
  }

  &[disabled],
  &.md-raised[disabled],
  &.md-fab[disabled],
  &.md-accent[disabled],
  &.md-warn[disabled] {
    background-color: variables.$button-disabled-bg;
    color: variables.$button-disabled-text;
    cursor: default;

    md-icon {
      color: variables.$button-disabled-text;
    }
  }
}

main {
  .md-button:not([disabled]) {
    &.md-primary {
      &.md-raised,
      &.md-fab {
        color: variables.$button-primary-contrast;
        background-color: variables.$button-primary;

        &:hover,
        &:focus {
          background-color: variables.$button-primary-hover;

          md-icon {
            color: variables.$button-primary-contrast;
          }
        }

        md-icon {
          color: variables.$button-primary-contrast;
        }
      }
    }

    &.link {
      min-width: 0;
      min-height: 0;
      line-height: inherit;
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      text-transform: none;
      text-decoration: underline;
      color: variables.$color-interactive;

      md-icon {
        color: variables.$color-interactive;
      }
    }
  }
}
