// checkbox
// ----------------------------------------

@use 'variables';

md-checkbox {
  &:not([disabled]) {
    &.md-primary {
      &:not(.md-checked) {
        .md-icon {
          border-color: variables.$checkbox-border-color;
        }
      }

      &.md-checked {
        .md-icon {
          background-color: variables.$checkbox-primary;

          &:after {
            border-color: variables.$checkbox-primary-contrast;
          }
        }
      }
    }
  }

  &[disabled] {
    .md-icon {
      border-color: variables.$checkbox-disabled-border;
    }
  }
}
