// collapse
// ----------------------------------------

@use 'variables';

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: variables.$collpase-duration;
  transition-property: height, visibility;
}
