// dialog
// ----------------------------------------

@use 'variables';

md-backdrop {
  &.md-opaque {
    background-color: variables.$dialog-backdrop;
  }
}

md-dialog {
  border-radius: 4px;
  background-color: variables.$dialog-bg;

  md-toolbar {
    margin: .4em 0 0;
  }

  .md-button {
    &.md-primary:not([disabled]) {
      color: variables.$button-primary;

      &:hover,
      &:focus {
        color: variables.$button-primary-hover;

        md-icon {
          color: variables.$button-primary;
        }
      }

      md-icon {
        color: variables.$button-primary;
      }

      &.md-raised,
      &.md-fab {
        color: variables.$button-primary-contrast;
        background-color: variables.$button-primary;

        &:hover,
        &:focus {
          background-color: variables.$button-primary-hover;

          md-icon {
            color: variables.$button-primary-contrast;
          }
        }

        md-icon {
          color: variables.$button-primary-contrast;
        }
      }
    }
  }

  .md-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2em;

    .md-title {
      flex: 1;
      margin: 0;
    }
  }

  .md-actions,
  md-dialog-actions {
    border-top-color: variables.$dialog-actions-border;

    .md-confirm-button {
      @extend .md-raised;
    }
  }

  // full-screen layout
  &.full-screen {
    width: 98%;
    height: 98%;
    max-width: 98%;
    max-height: 98%;

    md-dialog-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .md-dialog-content-body {
        flex: 1;
        display: flex;
        overflow: hidden;
      }
    }
  }

}
