// helpers
// ----------------------------------------

@use 'variables';

.mbn {
  margin-bottom: 0;
}

.mbs {
  margin-bottom: (variables.$layout-gutter-width * .5);
}

.mvs {
  margin-top: (variables.$layout-gutter-width * .5);
  margin-bottom: (variables.$layout-gutter-width * .5);
}

.mhm {
  margin-right: variables.$layout-gutter-width;
  margin-left: variables.$layout-gutter-width;
}

.pbm {
  padding-bottom: variables.$layout-gutter-width;
}

.text-center {
  text-align: center;
}

// screen readers
.sr-only {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  word-break: normal;
  white-space: nowrap;
}
