// layout
// ----------------------------------------

@use 'variables';

.viewport-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  > ov-toolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    padding: (variables.$layout-gutter-width * .5) variables.$layout-gutter-width 0;

    > .ov-toolbar-title {
      display: flex;
      align-items: center;
      width: 50%;
      min-height: 36px;
      margin: 0;

      .md-headline {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: normal;
        display: inline-block;
      }

      md-icon {
        margin: 0 0.156em;
      }

      .ov-toolbar-title-last {
        flex: 1;
      }
    }

    > .ov-toolbar-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      .ov-toolbar-action {
        padding: 0 .5em .375em .5em;
        overflow: hidden;

        .md-button {
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          @media (max-width: 599px) {
            min-width: 0;
            padding: 0 1em;
          }
        }
      }
    }
  }

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > md-tabs {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;

      > md-tabs-content-wrapper {
        flex: 1;

        md-tab-content,
        [md-tabs-template] {
          height: 100%;
        }

        .tab-content-wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}

// splash
.splash-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  md-icon {
    width: 4em;
    height: 4em;
    color: variables.$color-body-text;
  }
}


// datatable layout
.datatable-controls {
  margin: (variables.$layout-gutter-width * 2) variables.$layout-gutter-width 0;
}

.datatable-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: variables.$layout-gutter-width;

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
}

.datatable-actions {
  display: flex;

  .datatable-actions-main {
    flex: 1;

    .md-button {
      margin: 0 (variables.$layout-gutter-width * .5) (variables.$layout-gutter-width * .5) 0;

      [dir="rtl"] {
        margin: 0 0 (variables.$layout-gutter-width * .5) (variables.$layout-gutter-width * .5);
      }
    }
  }

  .datatable-actions-auxiliary {
    .md-button {
      margin: 0 0 (variables.$layout-gutter-width * .5) (variables.$layout-gutter-width * .5);

      [dir="rtl"] {
        margin: 0 (variables.$layout-gutter-width * .5) (variables.$layout-gutter-width * .5) 0;
      }
    }
  }
}

.datatable-data {
  flex: 1;
  overflow-y: auto;
  margin: 0 variables.$layout-gutter-width variables.$layout-gutter-width;
  background: #fff;
  border-radius: 3px;
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.2),0 1px 1px 0 rgba(0, 0, 0, 0.14),0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.manage-view {
  .animate-fade,
  md-tab-item {
    opacity: 1;
    transition: opacity .5s;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  &.manage-view {
    display: flex !important;

    .animate-fade,
    md-tab-item {
      opacity: 0;
    }
  }
}
