// nav-bar
// ----------------------------------------

@use 'variables';

.md-nav-bar {
  background-color: variables.$nav-bar-bg;
  color: variables.$nav-bar-text;
  border: none;

  .md-button {
    &:not([disabled]) {
      color: variables.$nav-bar-text;

      &.md-active {
        color: variables.$nav-bar-text-active;
      }

      &:hover,
      &:focus {
        background-color: variables.$nav-bar-bg-hover;
      }
    }

    &[disabled] {
      background-color: variables.$nav-bar-disabled-bg;
      color: variables.$nav-bar-disabled-text;
    }
  }
}

.md-nav-ink-bar {
  height: 0.250em;
  background-color: variables.$nav-bar-ink-bar;
}

// filter status case
.filter-status {
  .md-nav-bar {
    overflow-x: auto;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2),0 1px 1px 0 rgba(0, 0, 0, 0.14),0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}

// filter test case
.filter-test {
  .md-nav-bar {
    background: none;
    color: variables.$color-body-text;
    height: 36px;

    .md-button {
      &:not([disabled]) {
        color: variables.$color-body-text;
        margin: 0 4px;
        padding: 6px 16px;

        &.md-active {
          color: variables.$button-primary;
        }

        &:hover,
        &:focus {
          color: variables.$button-primary-hover;
          background-color: transparent;
        }
      }

      &[disabled] {
        background-color: variables.$button-disabled-bg;
        color: variables.$button-disabled-text;
      }
    }
  }

  md-nav-ink-bar {
    height: 0.250em;
    background-color: variables.$button-primary;
  }
}
