// sv-sidebar
// ----------------------------------------

@use 'variables';

sv-sidebar {
  background: variables.$sidebar-bg;
  color: variables.$sidebar-text;
  border-right: 1px solid variables.$sidebar-border-color;

  [dir="rtl"] & {
    border-right: none;
    border-left: 1px solid variables.$sidebar-border-color;
  }

  .sv-toolbar {
    padding: 0 1.5em;
    border-bottom: 1px solid variables.$sidebar-border-color;
  }

  .sv-nav {
    .md-button {
      text-transform: none;

      &:hover,
      &:focus {
        background-color: variables.$sidebar-bg-hover;
      }

      &.current {
        background-color: variables.$sidebar-current-bg;
        color: variables.$sidebar-current-text;
      }

      md-icon {
        color: variables.$sidebar-icon;
      }

      &.current md-icon {
        color: variables.$sidebar-icon-current;
      }
    }
  }

  .election-event-title {
    padding: 0 1em;
    margin: .5em 0;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  hr {
    border: none;
    border-bottom: 1px solid variables.$sidebar-border-color;
  }

  .lang-selector {
    &:not(.md-input-invalid) {
      > md-select {
        .md-select-value {
          border-color: variables.$sidebar-text;
        }

        &:hover {
          background-color: variables.$sidebar-bg-hover;
        }
      }

      &.md-input-focused {
        md-select {
          background-color: variables.$sidebar-bg-hover;
        }

        > md-icon {
          color: inherit;
        }
      }
    }

    @media (max-width: 959px) {
      &.md-input-focused,
      &:hover {
        background-color: variables.$sidebar-bg-hover;
      }
    }
  }


  // animation
  transition: max-width variables.$sidebar-animation-duration ease-out, background-color variables.$sidebar-animation-duration ease-out;

  > * {
    transition: opacity variables.$sidebar-animation-duration ease-out;
  }
}

md-option {
  &.lang-option {
    .md-text {
      text-transform: capitalize;
    }
  }
}

.sidebar-is-closed sv-sidebar {
  max-width: 5px;
  background-color: variables.$sidebar-bg-closed;

  > * {
    opacity: 0;
  }
}

