// sv-layout
// ----------------------------------------

@use 'variables';

.sv-viewport-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

sv-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 17.5em;

  .sv-nav {
    padding: (variables.$layout-gutter-width * .5);
    overflow: auto;

    .md-button {
      display: flex;
      align-items: center;
      width: 100%;
      margin: .5em 0;

      md-icon {
        margin: 0 (variables.$layout-gutter-width * .5) 0 0;

        [dir="rtl"] & {
          margin: 0 0 0 (variables.$layout-gutter-width * .5);
        }
      }

      .sv-button-label {
        text-align: left;
        margin: 0 (variables.$layout-gutter-width * .5) 0 0;

        [dir="rtl"] & {
          text-align: right;
          margin: 0 0 0 (variables.$layout-gutter-width * .5);
        }

        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .lang-selector {
    display: flex;
    height: 36px;
    margin: .5em 0;
    padding: 0 1em;
    align-items: center;
    font-size: 14px;
    text-transform: none;
    border-radius: 3px;

    > md-icon {
      position: relative;
      margin: 0 .5em 0 0;

      [dir="rtl"] & {
        margin: 0 0 0 .5em;
      }

      top: auto;
      left: auto;
      right: auto;
    }

    > md-select {
      margin: 0;
    }

    @media (max-width: 959px) {
      md-select {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        margin: 0;

        md-select-value {
          min-width: 0;

          > span:not(.md-select-icon) {
            display: none;
          }

          .md-select-icon {
            width: auto;
            margin: 0;
          }
        }
      }
    }

  }
}

.sv-main {
  flex: 1;
  display: flex;
  flex-direction: column;

  .sv-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    > .sv-content-view {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

// animation
.sv-content > * {
  opacity: 1;
  transition: opacity .5s;

  &[ng\:cloak], &[ng-cloak], &[data-ng-cloak], &[x-ng-cloak], &.ng-cloak, &.x-ng-cloak {
    display: flex !important;
    opacity: 0;
  }

  &.ng-animate.ng-leave {
    display: none;
  }
}

.sv-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 3.313em;
  line-height: 2.25em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
  }

  .sv-toolbar-hd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 1.125em;
  }

  .sv-toolbar-path {
    flex: 1;
    padding: (variables.$layout-gutter-width * .5);
  }

  .sv-toolbar-action {
    display: flex;
    padding: (variables.$layout-gutter-width * .5);

    > * {
      margin-left: (variables.$layout-gutter-width * .5);

      [dir="rtl"] & {
        margin-right: (variables.$layout-gutter-width * .5);
        margin-left: 0;
      }
    }

    .md-button {
      margin: 0;
    }
  }
}
