// table
// ----------------------------------------

@use 'variables';

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 0.875em;

  thead {
    background-color: variables.$table-thead-bg;
    color: variables.$table-thead-text;
    transition: box-shadow .5s ease-in-out;
    display: block;
    position: relative;
    z-index: variables.$z-index-table-thead;

    &.has-shadow {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid variables.$table-border-color;

      &:hover {
        background-color: variables.$table-row-hover;
      }
    }
  }

  th,
  td {
    padding: 1em;
  }

  .table-batchselector {
    width: 3em;
    padding-right: 0;

    md-checkbox,
    md-radio-button {
      margin: 0;

      .md-label {
        display: none;
      }
    }
  }

  .link {
    white-space: normal;
    text-align: left;
  }

  tr {
    display: flex;

    th,
    td {
      flex-grow: 1;
      flex-basis: 0;
      word-break: break-word; //only for webkit
      overflow: hidden;

      &.table-batchselector {
        flex-grow: 0;
        flex-basis: 3em;
      }

      &.table-action {
        flex-grow: 0;
        flex-basis: 6.429em;
      }
    }
  }

  @for $i from 2 through 5 {
    .grow-#{$i} {
      flex-grow: $i;
    }
  }

}
