<tab-bar class="filter-status" filter-active="filterActive" filter-counter="statusCount" filter-tabs="filterTabs"
		 on-tab-selected="onTabSelected"></tab-bar>

<div class="datatable-controls">
	<div class="datatable-actions">
		<div class="datatable-actions-main">
			<md-button aria-label="{{'Precompute' | translate}}"
					   class="md-primary md-raised"
					   id="precompute"
					   ng-click="precomputeVotingCardSets()"
					   ng-disabled="getLockedVotingCardSets().length === 0 || isPrecomputeInProgress || !areAllBallotsUpdated()"
					   ng-if=" tableFilter === 'LOCKED' && isSetupMode()">
				<span ng-if="!isPrecomputeInProgress">
					<md-icon aria-label="{{'Precompute' | translate}}" md-svg-src="assets/icons/ic_menu_24px.svg"></md-icon>
				</span>
				<span ng-if="isPrecomputeInProgress">
					<md-icon aria-label="{{'Precompute' | translate}}" class="spin" md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
				</span>
				<span class="hide-xs" translate>Precompute</span>
			</md-button>
			<md-button aria-label="{{'Compute' | translate}}"
					   class="md-primary md-raised"
					   id="compute"
					   ng-click="computeVotingCardSet()"
					   ng-disabled="!someVotingCardSetsPrecomputed()"
					   ng-if=" tableFilter === 'PRECOMPUTED' && isOnlineMode()">
				<md-icon aria-label="{{'Compute' | translate}}" md-svg-src="assets/icons/ic_list_24px.svg"></md-icon>
				<span class="hide-xs" translate>Compute</span>
			</md-button>
			<md-button aria-label="{{'Update computing status' | translate}}"
					   class="md-primary md-raised"
					   id="updateComputingStatus"
					   ng-click="updateComputingStatus()"
					   ng-disabled="isThereNoVCSComputing()"
					   ng-if="tableFilter === 'COMPUTING' && isOnlineMode()">
				<md-icon aria-label="{{'Update computing status' | translate}}" md-svg-src="assets/icons/ic_autorenew_24px.svg"></md-icon>
				<span class="hide-xs">{{'Update computing status' | translate}}</span>
			</md-button>
			<md-button aria-label="{{'Download all voting card sets' | translate}}"
					   class="md-primary md-raised"
					   id="download"
					   ng-click="downloadVotingCardSet()"
					   ng-disabled="!someVotingCardSetsComputed() || isDownloadInProgress"
					   ng-if="tableFilter === 'COMPUTED' && isOnlineMode()">
				<span ng-if="!isDownloadInProgress">
					<md-icon aria-label="{{'Download all voting card sets' | translate}}" md-svg-src="assets/icons/ic_file_download_24px.svg"></md-icon>
				</span>
				<span ng-if="isDownloadInProgress">
					<md-icon aria-label="{{'Download all voting card sets' | translate}}" class="spin" md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
				</span>
				<span class="hide-xs" translate>Download all voting card sets</span>
			</md-button>
			<md-button aria-label="{{'Generate' | translate}}"
					   class="md-primary md-raised"
					   id="generate"
					   ng-click="generateVotingCardSet()"
					   ng-disabled="!allVotingCardSetsDownloaded()"
					   ng-if="tableFilter === 'VCS_DOWNLOADED' && isSetupMode()">
				<md-icon aria-label="{{'Generate' | translate}}" md-svg-src="assets/icons/ic_wrap_text_24px.svg"></md-icon>
				<span class="hide-xs" translate>Generate</span>
			</md-button>
			<md-button aria-label="{{'Update generating status' | translate}}"
					   class="md-primary md-raised"
					   id="updateGeneratingStatus"
					   ng-click="updateGeneratingStatus()"
					   ng-disabled="isThereNoVCSGenerating()"
					   ng-if="tableFilter === 'GENERATING' && isSetupMode()">
				<md-icon aria-label="{{'Update generating status' | translate}}" md-svg-src="assets/icons/ic_autorenew_24px.svg"></md-icon>
				<span class="hide-xs" translate>Update generating status</span>
			</md-button>
			<md-button aria-label="{{'Sign' | translate}}"
					   class="md-primary md-raised"
					   id="sign"
					   ng-click="signVotingCardSets()"
					   ng-disabled="!allVotingCardSetsGenerated() || signInProgress"
					   ng-if="tableFilter === 'GENERATED' && isSetupMode()">
				<md-icon aria-label="{{'Sign' | translate}}" md-svg-src="assets/icons/ic_vpn_key_24px.svg"></md-icon>
				<span class="hide-xs" translate>Sign</span>
			</md-button>
			<md-button aria-label="{{'Print file generation' || translate}}"
					   class="md-primary md-raised"
					   id="generate_print_files"
					   ng-attr-title="{{getTextPrintFilesGeneration()}}"
					   ng-click="generatePrintFiles()"
					   ng-disabled="!areAllVotingCardsReadyForPrintFilesGeneration() || uploadInProgress"
					   ng-if="tableFilter === 'SIGNED' && isSetupMode()">
				<md-icon aria-label="{{'Print file generation' | translate}}" md-svg-src="assets/icons/ic_file_download_24px.svg"></md-icon>
				<span class="hide-xs" translate>Print file generation</span>
			</md-button>
			<md-button aria-label="{{'Upload' | translate}}"
					   class="md-raised md-primary"
					   id="uploadConfigurations"
					   ng-click="uploadConfigurations()"
					   ng-disabled="!areAllVotingCardsReadyForPrintFilesGeneration() || uploadInProgress"
					   ng-if="tableFilter === 'SIGNED' && isOnline()">
				<span ng-if="!uploadInProgress">
					<md-icon  aria-label="{{'Upload' | translate}}" md-svg-src="assets/icons/ic_upload.svg"></md-icon>
				</span>
				<span ng-if="uploadInProgress">
					<md-icon aria-label="{{'Upload' | translate}}" class="spin" md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
				</span>
				<span class="hide-xs" translate>Upload</span>
			</md-button>
		</div>
	</div>
</div>

<div class="datatable-data">
	<table aria-describedby="" class="table">
		<thead>
		<tr>
			<td class="table-batchselector">
				<md-checkbox aria-label="{{'Checkbox' | translate}}" class="md-datatable-theme md-primary" data-ng-model="selectAll"
							 ng-change="onSelectAll(selectAll)" ng-disabled="filteredRows.length === 0"
							 ng-hide="true"></md-checkbox>
			</td>
			<th class="grow-3" scope="col">
				<span class="no-wrap" title="{{'Title'|translate}}" translate>Title</span>
			</th>
			<th class="grow-3" scope="col">
				<span class="no-wrap" title="{{'Verification Card Set ID'|translate}}" translate>Verification Card Set ID</span>
			</th>
			<th class="grow-3" scope="col">
				<span class="no-wrap" title="{{'Ballot Box'|translate}}" translate>Ballot Box</span>
			</th>
			<th class="grow-2" scope="col">
				<span class="no-wrap" title="{{'Number of Voting Cards'|translate}}" translate>Number of Voting Cards</span>
			</th>
			<th class="grow-3" scope="col">
				<span class="no-wrap" title="{{'Details'|translate}}" translate>Details</span>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="votingCardSet in data.votingCardSets.result | filter:customFilter:true as filteredRows">
			<td class="table-batchselector">
				<md-checkbox aria-label="{{'Checkbox' | translate}}" class="md-datatable-theme md-primary" data-ng-model="votingCardSet.selected"
							 id="check_{{votingCardSet.id}}" ng-change="updateSelectAll(votingCardSet.selected)"
							 ng-hide="true"></md-checkbox>
			</td>
			<td class="grow-3">{{votingCardSet.defaultTitle}}</td>
			<td class="grow-3">{{votingCardSet.verificationCardSetId}}</td>
			<td class="grow-3">{{votingCardSet.ballotBoxAlias}}</td>
			<td class="grow-2">{{votingCardSet.numberOfVotingCardsToGenerate}}</td>
			<td class="grow-3">
				<div>
					<span class="no-wrap" title="{{votingCardSet.details | translate}}">{{votingCardSet.details | translate}}</span>
				</div>
				<div>
					<md-icon class="spin" md-svg-src="assets/icons/ic_spinner_24px.svg" ng-if="votingCardSet.status=='COMPUTING' || votingCardSet.status=='GENERATING'"></md-icon>
					<em class="fss no-wrap" data-ng-if="votingCardSet.status=='COMPUTING'" title="{{'Computing...' | translate}}" translate>Computing...</em>
					<em class="fss no-wrap" data-ng-if="votingCardSet.status=='GENERATING'" title="{{'Generating...' | translate}}" translate>Generating...</em>
				</div>
				<div data-ng-if="votingCardSet.processing">
					<em class="fss no-wrap" data-ng-if="votingCardSet.status=='LOCKED'" title="{{'Pre-computing...' | translate}}"
						translate>Pre-computing...</em>
					<em class="fss no-wrap" data-ng-if="votingCardSet.status=='PRECOMPUTED'" title="{{'Computing...' | translate}}" translate>Computing...</em>
					<em class="fss no-wrap" data-ng-if="votingCardSet.status=='COMPUTED'" title="{{'Downloading...' | translate}}" translate>Downloading...</em>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
