<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<swp-list
    *ngIf="hasList"
    [contest]="contestVerifyData?.contest"
    [contestUserData]="contestVerifyData?.contestUserData"
    [rightColumnTemplate]="listChoiceCode"
>
  <ng-template #listChoiceCode>
    <span class="visually-hidden">{{ 'verify.main.yourchoicecode' | translate }}</span>
    <p class="word-break ps-3 h4 mb-0">{{ getListChoiceCode() }}</p>
  </ng-template>
</swp-list>

<swp-candidates
    [contest]="contestVerifyData?.contest"
    [contestUserData]="contestVerifyData?.contestUserData"
    [rightColumnTemplate]="candidateChoiceCode"
>
  <ng-template #candidateChoiceCode let-candidateIndex="candidateIndex">
    <span class="visually-hidden">{{ 'verify.main.yourchoicecode' | translate }}</span>
    <p class="word-break ps-3 h4 mb-0">{{ getCandidateChoiceCode(candidateIndex) }}</p>
  </ng-template>
</swp-candidates>
