<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<swp-contest-accordion
    *ngIf="contest"
    [id]="'contest-panel-' + contest.id"
    [title]="contest.title"
    [subtitle]="accordionSubtitle.value"
    [cardClass]="formSubmitted && contestFormGroup?.invalid ? 'border border-2 border-danger' : ''"
>
  <div class="contest-wrapper" id="contest-wrapper-{{ contest.id }}">
    <div class="contest">
      <p class="contest--instructions" *ngIf="contest.howToVote">
        {{ contest.howToVote }}
      </p>

      <swp-choose-questions
          *ngIf="contest.template === TemplateType.Options"
          [contest]="contest"
          [id]="'contest-' + contest.id"
          [contestFormGroup]="contestFormGroup"
      ></swp-choose-questions>

      <swp-choose-candidates
          *ngIf="contest.template === TemplateType.ListsAndCandidates"
          [contestFormGroup]="contestFormGroup"
          [contest]="contest"
          [id]="'contest-' + contest.id"
          [showErrors]="!!formSubmitted"
      >
      </swp-choose-candidates>
    </div>
  </div>
</swp-contest-accordion>
