<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<swp-contest-accordion
    *ngIf="contestAndValues"
    [id]="'contest-review-panel-' + contestAndValues.contest.id"
    [title]="contestAndValues.contest.title"
>
  <div
      class="contest-wrapper"
      id="contest-wrapper-{{ contestAndValues.contest.id }}"
  >
    <div class="contest">
      <swp-review-questions
          *ngIf="contestAndValues.contest.template === TemplateType.Options"
          [contestAndValues]="contestAndValues"
      ></swp-review-questions>

      <swp-review-candidate-list
          *ngIf="
          contestAndValues.contest.template ===
          TemplateType.ListsAndCandidates
        "
          [contestAndValues]="contestAndValues"
      >
      </swp-review-candidate-list>
    </div>
  </div>
</swp-contest-accordion>
