<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<ng-content select=".form-control"></ng-content>

<button
  [hidden]="!isButtonShown"
  type="button"
  class="btn btn-clear"
  (click)="clearInput();"
>
  <swp-icon name="x-lg"></swp-icon>
  <span class="visually-hidden">{{ buttonLabel | translate }}</span>
</button>
