<sv-sidebar id="side-menu" title-long="'Secure Data Manager'" title-short="'SDM'"></sv-sidebar>

<main class="sv-main">

	<ov-toolbar class="sv-toolbar">

		<div ng-if="showImport()">
			<input
					accept=".sdm"
					class="ng-hide"
					id="input-folder-import"
					onchange="angular.element(this).scope().import(this)"
					ov-folder-input-model
					type="file"
			/>
			<md-button
					class="md-raised md-secondary"
					id="import"
					ov-folder-input="input-folder-import"
					title="{{'Import' || translate}}">
				<md-icon aria-label="{{'Import' | translate}}" md-svg-src="assets/icons/ic_file_import_24px.svg"></md-icon>
				<span class="hide-xs" translate>Import</span>
			</md-button>
		</div>

		<div ng-if="showPreconfigure() && isPreconfigureEnabled()">
			<md-button class="md-raised md-primary"
					   id="preconfigure"
					   ng-click="preconfigure()"
					   ng-disabled="preconfigureInProgress"
					   title="{{'Preconfigure'|translate}}">
				<md-icon aria-label="{{'Preconfigure'|translate}}" md-svg-src="assets/icons/ic_auto_fix_24px.svg"></md-icon>
				<span class="hide-xs" translate>Preconfigure</span>
			</md-button>
		</div>

	</ov-toolbar>

	<div class="sv-content">

		<div class="sv-content-view" ng-cloak ng-if="state == 'election-event-list'" ui-view="election-event-list"></div>
		<div class="sv-content-view" ng-cloak ng-if="state == 'administration-board-list'" ui-view="administration-board-list"></div>

	</div>

</main>
