<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="container">
  <h1 class="mt-5">{{ 'legalterms.title' | translate }}</h1>

  <p [innerHTML]="'legalterms.legalwarning' | translate" class="mt-4"></p>

  <ul class="mt-3">
    <li [innerHTML]="'legalterms.law.bullet1' | translate"></li>
    <li [innerHTML]="'legalterms.law.bullet2' | translate"></li>
    <li [innerHTML]="'legalterms.law.bullet3' | translate"></li>
    <li [innerHTML]="'legalterms.law.bullet4' | translate"></li>
    <li [innerHTML]="'legalterms.law.bullet5' | translate"></li>
  </ul>

  <p class="mt-3">{{ 'legalterms.confirmquestion' | translate }}</p>

  <div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-4">
      <button
          (click)="agree()"
          class="btn btn-dark btn-lg"
          type="button"
      >{{ 'legalterms.agree' | translate }}</button
      >
  </div>
</div>
