<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="container position-relative">

  <div class="sticky-top pt-1">
    <div
        *ngIf="ballotFormGroup?.invalid && chooseForm.submitted"
        class="alert alert-warning"
        role="alert"
    >
      <p class="mb-0">{{ 'choose.main.valiation.top' | translate }}</p>
    </div>
  </div>

  <h1 class="mt-5">{{ 'choose.main.title' | translate }}</h1>
  <p class="lead mt-2">
    {{ 'choose.main.expandcontesthelp' | translate }}
  </p>

  <form
      class="mt-5"
      novalidate
      autocomplete="off"
      (ngSubmit)="review()"
      [formGroup]="ballotFormGroup"
      #chooseForm="ngForm"
  >
    <div
        class="ballot-group my-5"
        *ngFor="let contest of contests$ | async; index as i"
    >
      <swp-choose-contest-container
          [contest]="contest"
          [contestFormGroup]="getContestFormGroup(i)"
          [formSubmitted]="chooseForm.submitted"
      ></swp-choose-contest-container>
    </div>

    <div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-4">
        <button type="submit" class="btn btn-dark btn-lg">
            {{ 'choose.main.continuetoreview' | translate }}
        </button>

        <button
            type="button"
            class="btn btn-link btn-lg"
            (click)="confirmCancel()"
        >
            <swp-icon name="x-lg"></swp-icon>
        <span>{{ 'common.cancelprocess' | translate }}</span>
      </button>
    </div>
  </form>
</div>
