<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="modal-header">
  <h1 class="h4 modal-title">{{ 'common.help' | translate }}</h1>
  <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'common.close' | translate"
      (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <ngb-accordion [activeIds]="activeFAQSection ?? ''" [closeOthers]="true">
    <ngb-panel [id]="FAQSection.HowToStart" [title]="'faq.howtostart.title' | translate">
      <ng-template ngbPanelContent>
        <div [ngSwitch]="configuration.identification" id="{{ FAQSection.HowToStart }}-content" class="faq-content">
          <p *ngSwitchCase="ExtendedFactor.YearOfBirth">
            {{ 'faq.howtostart.content.yob' | translate | replacePlaceholders }}
          </p>
          <p *ngSwitchCase="ExtendedFactor.DateOfBirth">
            {{ 'faq.howtostart.content.dob' | translate | replacePlaceholders }}
          </p>
          <p *ngSwitchDefault>
            {{ 'faq.howtostart.content.svk' | translate | replacePlaceholders }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel
        [id]="FAQSection.WhatIsVotingCard"
        [title]="'faq.whatisvotingcard.title' | translate | replacePlaceholders"
    >
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIsVotingCard }}-content" class="faq-content">
          <p>{{ 'faq.whatisvotingcard.p1' | translate | replacePlaceholders }}</p>
          <p>{{ 'faq.whatisvotingcard.p2' | translate | replacePlaceholders }}</p>
          <ul>
            <li>{{ 'faq.whatisvotingcard.p2.item1' | translate }}</li>
            <li>{{ 'faq.whatisvotingcard.p2.item2' | translate | replacePlaceholders }}</li>
            <li>{{ 'faq.whatisvotingcard.p2.item3' | translate }}</li>
            <li>{{ 'faq.whatisvotingcard.p2.item4' | translate | replacePlaceholders }}</li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatIsStartVotingKey" [title]="'faq.whatisstartvotingkey.title' | translate">
      <ng-template ngbPanelContent>
        <div class="faq-content" id="{{ FAQSection.WhatIsStartVotingKey }}-content">
          <p>{{ 'faq.whatisstartvotingkey.p1' | translate | replacePlaceholders }}</p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.HowToMakeAChoice" [title]="'faq.howtomakeachoice.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.HowToMakeAChoice }}-content" class="faq-content">
          <p *swpParagraphs="'faq.howtomakeachoice'; paragraphKey as paragraph">
            {{ paragraph | translate }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.CanIChangeSelection" [title]="'faq.canichangeselection.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.CanIChangeSelection }}-content" class="faq-content">
          <p *swpParagraphs="'faq.canichangeselection'; paragraphKey as paragraph">
            {{ paragraph | translate }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatAreChoiceReturnCodes" [title]="'faq.whatarechoicecodes.title' | translate">
      <ng-template ngbPanelContent>
        <div class="faq-content" id="{{ FAQSection.WhatAreChoiceReturnCodes }}-content">
          <p *swpParagraphs="'faq.whatarechoicecodes'; paragraphKey as paragraph">
            {{ paragraph | translate | replacePlaceholders }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatIsConfirmationKey" [title]="'faq.whatisconfirmationkey.title' | translate">
      <ng-template ngbPanelContent>
        <div class="faq-content" id="{{ FAQSection.WhatIsConfirmationKey }}-content">
          <p>{{ 'faq.whatisconfirmationkey.p1' | translate | replacePlaceholders }}</p>
          <p>{{ 'faq.whatisconfirmationkey.p2' | translate }}</p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel
        [id]="FAQSection.WhatIsVoteCastReturnCode"
        [title]="'faq.whatisvotecastreturncode.title' | translate | replacePlaceholders"
    >
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIsVoteCastReturnCode }}-content" class="faq-content">
          <p>{{ 'faq.whatisvotecastreturncode.p1' | translate | replacePlaceholders }}</p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.WhatIfCodesDoNotMatch" [title]="'faq.whatifcodesdonotmatch.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIfCodesDoNotMatch }}-content" class="faq-content">
          <p *swpParagraphs="'faq.whatifcodesdonotmatch'; paragraphKey as paragraph">
            {{ paragraph | translate | replacePlaceholders }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel
            [id]="FAQSection.WhatIsDifferenceSealAndCast"
            [title]="'faq.whatisdifferencesealandcast.title' | translate"
    >
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.WhatIsDifferenceSealAndCast }}-content" class="faq-content">
          <p *swpParagraphs="'faq.whatisdifferencesealandcast'; paragraphKey as paragraph">
            {{ paragraph | translate }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.CanILeaveAnytime" [title]="'faq.canileaveanytime.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.CanILeaveAnytime }}-content" class="faq-content">
          <p *swpParagraphs="'faq.canileaveanytime'; paragraphKey as paragraph">
            {{ paragraph | translate }}
          </p>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel [id]="FAQSection.HowToUseWriteIns" [title]="'faq.howtousewritins.title' | translate">
      <ng-template ngbPanelContent>
        <div id="{{ FAQSection.HowToUseWriteIns }}-content" class="faq-content">
          <p>{{ 'faq.howtousewritins.p1' | translate }}</p>
          <p>{{ 'faq.howtousewritins.p2' | translate }}</p>
          <p>{{ 'faq.howtousewritins.p3' | translate }}</p>
          <p>{{ 'faq.howtousewritins.p4' | translate }}</p>
          <ul>
            <li>{{ 'faq.howtousewritins.p4.item1' | translate }}</li>
            <li>{{ 'faq.howtousewritins.p4.item2' | translate }}</li>
            <li>{{ 'faq.howtousewritins.p4.item3' | translate }}</li>
            <li>{{ 'faq.howtousewritins.p4.item4' | translate }}</li>
            <li>
              <span>{{ 'faq.howtousewritins.p4.item5' | translate }}</span>
              <ul class="list-unstyled row mx-0 mt-2 border-start border-top">
                <li *ngFor="let charSet of allowedCharacters.split(' ')"
                    class="col-12 col-sm-4 col-md-2 px-0 py-3 border-end border-bottom d-flex flex-wrap">
                  <span *ngFor="let char of charSet.split('')"
                        class="flex-fill px-2 fs-6 text-center">{{ char }}</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
