<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div
    *ngIf="currentStep"
    aria-label="Voting process"
    class="container my-4 pb-1"
    id="voting-progress-stepper"
    role="group"
>
  <ol class="stepper">
    <ng-container *ngFor="let step of steps; index as i">
      <li
          [attr.aria-current]="step === currentStep ? 'step' : undefined"
          [attr.aria-live]="step === currentStep ? 'polite' : undefined"
          [attr.tabindex]="step === currentStep ? -1 : undefined"
          class="stepper-item"
      >
        <span>
          <span class="visually-hidden">{{ 'stepper.stepindex' | translate: { index: i + 1 } }}</span>
          {{ step | translate }}
        </span>

        <ng-container *ngIf="currentStepIndex && i < currentStepIndex; else stepIndex">
          <span class="visually-hidden">&nbsp;{{ 'stepper.completed' | translate }}</span>
          <span aria-hidden="true" class="stepper-indicator">
            <swp-icon name="check-lg"></swp-icon>
          </span>
        </ng-container>

        <ng-template #stepIndex>
          <span aria-hidden="true" class="stepper-indicator">{{ i + 1 }}</span>
        </ng-template>
      </li>
    </ng-container>
  </ol>
</div>
