/*
 * (c) Copyright 2023 Swiss Post Ltd.
 */
@use "styles/bootstrap-overrides" as app;
@use "apps/e-vote/src/styles/mixins/outline";
@use "apps/e-vote/src/styles/functions/forced-colors";

.accordion-button {
  &:not(.collapsed) {
    box-shadow: none;
  }

  &:focus-visible {
    @include outline.inner;
  }

  @media (forced-colors: active) {
    --ev-accordion-active-color: Highlight;
    --ev-accordion-transition: none;
    --ev-accordion-btn-icon: #{forced-colors.button-text(app.$accordion-button-icon, app.$accordion-icon-color)};
    --ev-accordion-btn-active-icon: #{forced-colors.highlight(app.$accordion-button-active-icon, app.$accordion-icon-active-color)};
  }
}
