<div class="datatable-controls">
    <h2 class="sr-only" translate>Electoral Board</h2>
    <div class="datatable-actions">
        <div class="datatable-actions-main">
            <md-button aria-label="{{'Constitute' | translate}}"
                       class="md-primary md-raised"
                       id="constitute"
                       ng-click="constituteElectoralBoard()"
                       ng-disabled="!isBoardReadyToConstitute() || isConstitutionInProgress"
                       ng-if="isSetupMode()">
                <span ng-if="!isConstitutionInProgress">
                    <md-icon aria-label="{{'Constitute' | translate}}" md-svg-src="assets/icons/ic_person_24px.svg"></md-icon>
                </span>
                <span ng-if="isConstitutionInProgress">
					<md-icon aria-label="{{'Constitute' | translate}}" class="spin" md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
				</span>
                <span class="hide-xs" translate>Constitute</span>
            </md-button>
            <md-button aria-label="{{'Sign' | translate}}"
                       class="md-primary md-raised"
                       id="sign"
                       ng-click="signElectoralBoard()"
                       ng-disabled="!isBoardReadyToSign() || isSigningInProgress"
                       ng-if="isSetupMode()">
                <span ng-if="!isSigningInProgress">
                    <md-icon aria-label="{{'Sign' | translate}}" md-svg-src="assets/icons/ic_vpn_key_24px.svg"></md-icon>
                </span>
                <span ng-if="isSigningInProgress">
                    <md-icon aria-label="{{'Sign' | translate}}" class="spin" md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
                </span>
                <span class="hide-xs" translate>Sign</span>
            </md-button>
        </div>
    </div>
</div>

<div class="datatable-data">
    <table class="table" aria-describedby="">
        <thead>
        <tr>
            <td class="table-batchselector"></td>
            <th class="col" scope="col">
                <span class="no-wrap" title="{{'Title'|translate}}" translate>Title</span>
            </th>
            <th scope="col">
                <span class="no-wrap" title="{{'Alias'|translate}}" translate>Alias</span>
            </th>
            <th scope="col">
                <span class="no-wrap" title="{{'Status'|translate}}" translate>Status</span>
            </th>
            <th scope="col">
                <span class="no-wrap" title="{{'Details'|translate}}" translate>Details</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="electoralBoard in electoralBoardsList track by $index">
            <td class="table-batchselector">
                <md-checkbox aria-label="{{'select' | translate}}"
                             class="md-datatable-theme md-primary"
                             id="check_{{electoralBoard.id}}"
                             ng-model="electoralBoard.selected"
                             ng-hide="true">
                </md-checkbox>
            </td>
            <td class="col">
                <md-button class="link" data-ng-click="showMembers(electoralBoard, $event)">{{electoralBoard.defaultTitle}}</md-button>
            </td>
            <td>{{electoralBoard.alias}}</td>
            <td><span class="no-wrap" title="{{capitalizeFirstLetter(electoralBoard.status) | translate}}">{{capitalizeFirstLetter(electoralBoard.status) | translate}}</span>
            </td>
            <td><span class="no-wrap" title="{{electoralBoard.details | translate}}">{{electoralBoard.details | translate}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
