<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<p
    class="candidate--title d-flex align-items-center justify-content-between pe-md-4 pe-lg-5 mb-0"
    [ngClass]="headingClass"
    [attr.role]="headingLevel ? 'heading' : null"
    [attr.aria-level]="headingLevel"
>
  <span class="visually-hidden" *ngIf="screenReaderLabel">{{ screenReaderLabel }}</span>

  <span *ngIf="candidate; else noCandidate">
    {{ candidate.isWriteIn ? candidateWriteIn : candidate.details.candidateType_attribute1 }}
  </span>

  <ng-template #noCandidate>
    <span class="fst-italic">{{ candidatePlaceholder }}</span>
  </ng-template>

  <strong *ngIf="candidate?.details?.candidateType_attribute3">
    {{ candidate?.details?.candidateType_attribute3 }}
  </strong>
</p>

<p
    *ngIf="showAllDetails && candidate?.details?.candidateType_attribute2"
    class="candidate--details text-dark text-opacity-75 mb-0"
>
  {{ candidate?.details?.candidateType_attribute2 }}
</p>
